html, body {
    font-family:'Open Sans', Helvetica, Arial;
    font-size:24px;
    color:#fff;
    background:#97b12b;
}

fieldset {
    border:none;
}

.home h1 {
    background:url(../img/flighty-header-bg.png) repeat 0 0;
    padding:5px 0;
    margin:0;
    padding-left:20px;
}
.home h1 a {
    display:block;
    background: url(../img/flighty-logo.png) no-repeat 0 0;
    height:83px;
    width:132px;
    text-indent:-9999px;
}

.home ul {
    display:none;
}

.map {
   background-color:#67a9dc;
   overflow: hidden;
}

.map h1 {
    padding:5px 0;
    margin:0;
    padding-left:20px;
    float: left;
}

.map h1 a {
    display:block;
    background: url(../img/flighty-logo-small.png) no-repeat 0 0;
    height:45px;
    width:72px;
    text-indent:-9999px;
}

.map ul {
    float: right;
    margin: 10px 20px 0 0;
}

.map li {
    float: left;
    margin-left: 30px;
    width: 31px;
    height: 34px;
}

.map li a {
    display:block;
    background: url(../img/flighty-plain.png) no-repeat 0 0;
    text-indent: -9999px;
}

.map .back a {
    width: 33px;
    background: url(../img/flighty-back.png) no-repeat 0 0;
}

#traveling {
    padding-left:20px;
    margin-top: 65px;
    width: 370px;
}

#traveling input {
    display:block;
    width: 365px;
    border:1px solid #fff;
    height: 50px;
    line-height:50px;
    border-radius: 5px;
    background:url(../img/flighty-header-bg.png) repeat 0 0;
    margin-bottom: 15px;
    color:#fff;
    font-family:'Open Sans', Helvetica, Arial;
    font-size:18px;
    text-indent:10px;
}

#traveling input[type="button"] {
    border-radius:15px;
    height: 42px;
    line-height:42px;
    width: 200px;
    cursor:pointer;
    background-image:url("../img/flighty-submit-bg.png");
}

#traveling legend {
    display: block;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    body {
        background:url(../img/flighty-bg.jpg) repeat-x 0 0;
    }
}

#flightly-map {
    height:300px;
    width:100%;
    display:none;
}